.ofc {
    margin-left: 6rem;
    margin-top: 4rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

h3 {
    color: aqua;
}

.subtitulo {
    color: #6a99cd;
}

.melzin {
    margin: -0.2rem;
}

.active {
    background-color: green !important;
}

body {
    background-image: url("https://www.aente.com.br/img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
}

.btn-hover {
    letter-spacing: 0.0892857143em;
    font-size: 20px;
    font-weight: -100;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    padding-left: 0;
    padding-right: 0;
    height: 50px;
    width: 150px;
    border-radius: 4px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 10px 15px;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed);
    box-shadow: 0 4px 15px 0 #4184eabf;
}